@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.image-card:hover .image-panel {
    opacity: 1;
}